*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header */
header{
    display: flex;
    flex-direction: column;
    max-height: 128px;
}
.top-banner{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 16px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f4f4f4;
    border-bottom: #333 2px solid;
}
nav a{
    text-decoration: none;
    color: #333;
    font-size: 18px;
}
nav img{
    width: 70px;
    height: auto;
    margin: 10px;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
}
.search-bar{
    display: flex;
    align-items: center;
}
.search-bar img{
    width: 30px;
    height: auto;
    margin-right: 5px;
}

/* Main */
main{
    padding: 20px;
    background-color: #eaeaea;
}

section{
    margin-bottom: 40px;
}

.cyber-banner img{
    max-width: 100%;
    height: auto;
}

.prom-container{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: flex;
}

.prom-container .prom-novedades{
    text-align: center;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}
.prom-container .card-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
.prom-card img{
    width: 212px;
    height: auto;
    
}
